#name{
    z-index: 3;
    opacity: 0;
    animation-duration: 1.5s;
}

#quest{
    z-index: 2;
    opacity: 0;
    animation-duration: 1.5s;
}

#color{
    z-index: 1;
    opacity: 0;
    animation-duration: 1.5s;
}

.center{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0%;
    visibility: hidden;
}

#speech{
    position: absolute;
    left: 30%;
    width:70%;
    height:60%;
    opacity: 0;
    animation-duration: 1.5s;
    visibility: hidden;

}

#world{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#bridge{
    z-index: -1;
    position: absolute;
    width: 34%;
    height: 50%;
    left:73%;
    top: 53%;
}

@keyframes shine {
    0% {transform: rotate(5deg);transform: skewY(-5deg);}
    55% {transform: rotate(-5deg);transform: skewY(5deg);}
    100% {transform: rotate(5deg);transform: skewY(-5deg);}
}


#sun{
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 40%;
    animation-name: shine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: rotate(5deg);
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}


@keyframes crossBridge {
    0% {
        left: 21%;
        transform: none;
    }
    30% {
        left:21%;
        transform: none;
    }
    40%{
        top: 43%;
    }
    48%{
        top: 23%;
    }
    65% {
        left: 110%;
        transform: none;
    }
    66%{
        transform: scaleX(-1);
    }
    73%{
        top: 23%;
    }
    82%{
        top: 43%;
    }
    100% {
        left: 35%;
        transform: scaleX(-1);
    }
}

@keyframes moveOnScreen {
    0% {left: -25%;}
    25% {left: -25%;}
    100% {left: 21%;}
}

@keyframes moveOnScreen2 {
    0% {left: -25%;}
    100% {left: 21%;}
}


@keyframes launch {
    0%{top:43%;}
    100%{top:-80%;}
}

#knight{
    z-index: 2;
    transform: none;
    animation-name:none;
    animation-duration: 3s;
    position: absolute;
    visibility: hidden;
    width: 25%;
    height: 50.5%;
    left: 21%;
    top:43%;

}

@keyframes backUp {
    0% {transform:scale(1,1);}
    100% {transform: scale(0,0);}

    /*0%{top: 53%}*/
    /*100%{top: 20%}*/
}

#gatekeeper{
    z-index: 1;
    position: absolute;
    width: 18%;
    height: 40%;
    left: 56%;
    top:53%;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
}
@keyframes grow {
    0% {transform: scale(0,0);}
    100% {transform: scale(1,1);}
}


#theCanvas{
    position: relative;
    animation-duration: 6s;
    width: 100%;
    visibility: hidden;
    z-index: 2;
}

#close{
    width: 5%;
    left:95%;
    position: absolute;
    visibility: hidden;
    z-index: 3;
    cursor: pointer;
}

#replay{
    position: absolute;
    top:10%;
    height:10%;
    font-size: 7em;
    width:60%;
    text-align: center;
    left: 40%;
    visibility: hidden;
    cursor:pointer;
    animation-duration: 1.5s;

}
@keyframes explode {
    0%{opacity:1; }
    30%{opacity:1; }
    100%{opacity:0; }
}

#poof{
    z-index: 0;
    opacity: 0;
    position: absolute;
    width: 36%;
    height: 65%;
    left: 49%;
    top:45%;


}
#holygrail{
    animation-name: none;
    animation-duration: 3s;
    position: absolute;
    visibility: hidden;
    width: 27%;
    height: 81.5%;
    left: 36%;
    top:19%;
}

#question-wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    width: 60%;
    text-align: center;
    position: absolute;
    left: 35%;
    height: 30%;
    top: 7%;
    visibility: hidden;
}